<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="{{ '/' | relative_url }}" class="brand-logo">
                <span class="brand-icon">👨‍💻</span>
                <span class="brand-text">Jesús Arcas</span>
            </a>
        </div>
        <button class="navbar-toggle" id="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="navbar-menu" id="navbar-menu">
            <li class="navbar-item">
                <a href="{{ '/' | relative_url }}" class="navbar-link">Inicio</a>
            </li>
            <li class="navbar-item">
                <a href="{{ '/blog' | relative_url }}" class="navbar-link">Blog</a>
            </li>
            <li class="navbar-item">
                <a href="#contacto" class="navbar-link">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

